node_modules
config.js
.expo
__generated__
.DS_Store
npm-debug.log
yarn-error.log
.*.swp
.*.swo
.*.swn
.*.swm
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata
.env.local
.env.development.local
.env.test.local
.env.production.local
PseudoData.txt